body {
    background-color: #4c98ef;
}

h1 {
    color: white;
    text-align: center;
}

#counterDiv {
    margin: auto;
    max-width: 30%;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

#zeroStepWarning {
    color: red;
    font-size: small;
}

/* Helper class when assigned to an element make it disappear */
.hidden {
    display: none;
}
